.login-block > strong {
	background: yellow;
	color: #000
}

.login-block  {
	color: #FFF;
}

.list-schools {
	display: flex;
	flex-wrap: wrap;
}
.list-schools li {

	width: 20%;
	border: 1px solid blue;
	padding: 2%;
}

.navbar-default .navbar-nav > li {
	cursor: pointer;
}

.navbar-default .navbar-nav > li.active > a {
    color: #272727 !important;
    background-color: #ffffff !important;
}

tags-input .tags .tag-item {
	background: #428bca;
}