<nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">My Project</a>
		</div>

		<div class="navbar-form navbar-right" role="search">
			<button ng-hide="user" ng-click="logIn()" type="button" class="btn btn-primary">Log in</button>
			<div class="login-block" ng-show="user">
				<p>
					<img width="32" ng-src="{{ user.avatar }}" alt="">
					<span>{{ user.email }} </span><strong ng-show="user.admin">(ADMIN)</strong>
					<button ng-show="user" ng-click="logOut()" type="button" class="btn btn-primary">Log Out</button>
				</p>
			</div>


		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Home</a></li>
				<li ng-show="user"><a href="#/">My Schools</a></li>
				<li ng-show="user.admin"><a href="#/add-school">Add School</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>